/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
params {

    // container info
    aws_container  = "docker://amazon/aws-cli:2.31.31"

}

profiles {
    atlas {
        process {
            executor='slurm'
            queue="$GXA_HPC_QUEUE"
            memory = 8.GB
            time = '1-00:00:00'
        }
        singularity.enabled = true
    }

    docker {
        docker {
            enabled = true
            runOptions = "--platform linux/amd64"
        }
        singularity.enabled = false
    }

    singularity {
        singularity.enabled = true
    }
}
