/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/
notify {
  enabled = true

  // Only send email for failures
  onSuccess = false
  onError   = true
}

params {

    // container info
    aws_container  = "docker://amazon/aws-cli:2.31.31"
}

workDir = "${System.getenv('NF_WORKDIR')}/${System.getenv('EXP_ID')}/"

profiles {
    atlas {
        process {
            executor='slurm'
            queue="$GXA_HPC_QUEUE"
            memory = 8.GB
            time = '1.d'
            withName: 'GET_STAR_PROFILE' {
                memory = '8 GB'
            }
        }
        conda {
            cacheDir = "${System.getenv('NF_WORKDIR')}/env"
            createTimeout = "30 min"
            useMamba = false
            enabled = true
        }
        singularity.enabled = true
    }

    docker {
        docker {
            enabled = true
            runOptions = "--platform linux/amd64"
        }
        singularity.enabled = false
    }

    singularity {
        singularity.enabled = true
    }
}
