process {
    withName: 'NFCORE_RNASEQ:RNASEQ:FASTQ_QC_TRIM_FILTER_SETSTRANDEDNESS:BBMAP_BBSPLIT' {
        ext.args = { 
            [
                'outu1=unmapped_1.fq.gz',
                'outu2=unmapped_2.fq.gz'
            ].join(' ').trim()
        }
        publishDir = [
            [
                path: { "${params.outdir}/bbsplit" },
                mode: params.publish_dir_mode,
                pattern: "*.{fastq.gz,fq.gz,txt}"
            ]
        ]
    }
}
