params {
    // Resource management
    max_cpus = 48
    max_time = 168.h
    max_production_memory = 468.GB
}

singularity {
    enabled = true
    autoMounts = true
    cacheDir = "$NXF_SINGULARITY_CACHEDIR"
}

process {
    executor='slurm'
    // change below to variable
    queue='production'

    // Default resources: increase memory on retry using task.attempt
    // task.attempt is 1 on the first try, 2 on the first retry, etc.
    cpus = 2
    memory = { 8.GB + (task.attempt - 1) * 8.GB }   // 1st attempt: 8.GB, 2nd: 16.GB, 3rd: 24.GB, ...
    time = '4.h'

    // Specific resource allocation (also increases memory on retry)

    withName: '.*STAR_ALIGN' {
        cpus = 24
        memory = { 48.GB + (task.attempt - 1) * 40.GB }
        time   = { 2.h + (task.attempt - 1) * 4.h }
    }

    withName: '.*SORTMERNA' {
        cpus = 8
        memory = { 32.GB + (task.attempt - 1) * 200.GB }

        // Use the partition only up to the threshold; omit it above that
        // Also adjust the time allocation
        queue  = { task.memory > params.max_production_memory ? null : 'production' }
        time   = { task.memory > params.max_production_memory ? 720.h : 168.h }
    }

    withName: '.*SALMON_QUANT' {
        cpus = 8
        memory = { 28.GB + (task.attempt - 1) * 40.GB }
        time   = 168.h
    }

    withName: '.*TRIMGALORE' {
        cpus = 8
        memory = { 2.GB + (task.attempt - 1) * 4.GB }
        time   = { task.attempt * 2.h }
    }

    withName: '.*KRAKEN2' {
        cpus = 2
        memory = { 10.GB + (task.attempt - 1) * 8.GB }
        time   = { task.attempt * 30.m }
    }

    withName: '.*SAMTOOLS_SORT' {
        cpus = 8
        memory = { task.attempt * 7.GB }
        time   = { task.attempt * 30.m }
    }

    withName: '.*BRACKEN' {
        cpus = 1
        memory = { task.attempt * 2.GB }
        time   = { task.attempt * 16.h }
        errorStrategy = 'ignore'
    }
}

workflow {
  failOnIgnore = false
}

executor {
    queueSize = 500
    exitReadTimeout = '120 sec'
    pollInterval = '5 sec'
}

process.errorStrategy = 'retry'
process.maxRetries = 5

// Execution reports
timeline.enabled = true
report.enabled = true
trace.enabled = true
dag.enabled = true
