process {
  withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
    // Completely override the ext.args closure
    ext.args = [
      '--quantMode TranscriptomeSAM',
      '--outSAMtype BAM Unsorted',
      '--outSAMattributes NH HI AS NM MD',
      '--readFilesCommand zcat',
      '--twopassMode Basic',
      '--runRNGseed 0',
      '--alignSJDBoverhangMin 1',
      '--outSAMstrandField intronMotif',
      '--quantTranscriptomeSAMoutput BanSingleEnd', 
      '--outFilterMultimapNmax 20',
      '--alignIntronMax 15000',
      '--outFilterIntronMotifs None',
      '--outReadsUnmapped Fastx'
    ].join(' ').trim()
  }
}
