profiles {
  extreme {
    process {
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        ext.args = { meta, reads ->
          def base = '--quantMode TranscriptomeSAM --outSAMtype BAM Unsorted --outSAMattributes NH HI AS NM MD --readFilesCommand zcat --twopassMode Basic --runRNGseed 0 --outFilterMultimapNmax 20 --alignSJDBoverhangMin 1 --outSAMstrandField intronMotif --quantTranscriptomeSAMoutput BanSingleEnd'
          def custom = '--outFilterMultimapNmax 100 --alignIntronMax 50000 --outFilterIntronMotifs None'
          "${base} ${custom}"
        }
        beforeScript = 'echo "EXTREME PROFILE APPLIED FOR STAR_ALIGN"'
      }
    }
  }
}
