params {
  star_base_args = [
    '--quantMode TranscriptomeSAM',
    '--outSAMtype BAM Unsorted',
    '--outSAMattributes NH HI AS NM MD',
    '--readFilesCommand zcat',
    '--twopassMode Basic',
    '--runRNGseed 0',
    '--alignSJDBoverhangMin 1',
    '--outSAMstrandField intronMotif',
    '--quantTranscriptomeSAMoutput BanSingleEnd'
  ].join(' ')
}

profiles {
  default {
    process {
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        ext.args = "${params.star_base_args} --outFilterMultimapNmax 20 --alignIntronMax 1000000 --outFilterIntronMotifs RemoveNoncanonical"
      }
    }
  }

  dicot_plants {
    process {
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        ext.args = "${params.star_base_args} --outFilterMultimapNmax 100 --alignIntronMax 50000 --outFilterIntronMotifs None"
      }
    }
  }

  monocot_plants {
    process {
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        ext.args = "${params.star_base_args} --outFilterMultimapNmax 20 --alignIntronMax 20000 --outFilterIntronMotifs None"
      }
    }
  }

  bryophytes_plants {
    process {
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        ext.args = "${params.star_base_args} --outFilterMultimapNmax 20 --alignIntronMax 5000 --outFilterIntronMotifs RemoveNoncanonical"
      }
    }
  }

  protist {
    process {
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        ext.args = "${params.star_base_args} --outFilterMultimapNmax 20 --alignIntronMax 15000 --outFilterIntronMotifs None"
      }
    }
  }

  yeast {
    process {
      withName: 'NFCORE_RNASEQ:RNASEQ:ALIGN_STAR:STAR_ALIGN' {
        ext.args = "${params.star_base_args} --outFilterMultimapNmax 20 --alignIntronMax 5000 --outFilterIntronMotifs None"
      }
    }
  }
}
